.left-align {
  float:left;
  width:50%;
}

.left-align {
  text-align: left;
}

.right-align {
  float:right;
  width:50%;
}

.panel {
  text-align:left;
}

.panel img {
  width:100%;
}

.clearfix {
  clear: both;
}

.reveal ul {
  margin-bottom:15px;
  margin-top: 15px;
}

/* TODO: Generalise the left below */
.reveal code {
  white-space: pre-line;
  text-align: left;
}


.reveal blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal blockquote {
  /*color: $grey-color;
  // border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: $base-font-size * 0.75;*/
  letter-spacing: -1px;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  /*p {
    display: inline;
  }
  > :last-child {
    margin-bottom: 0;
  }*/
}

.reveal blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.7em;
}

.reveal section img {
    margin: 15px 0px;
    background: none;
    border: none;
    box-shadow: none;
}
